
body{
    background-image: url("bg-m-2.jpg");
    background-repeat: no-repeat;  
    /*  background-color:#995858; */ 
    background-size: 100%;
    
}
.navbar{
	opacity:0.7;
}
.navbar:hover{
	opacity:1.0;
}
a {
	 color: black;
  	text-decoration: none; 
    cursor: pointer;
}
.navbar-default {
    background-color: black;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-brand:hover {
    color: #d2d2d2;
}

.btn-block {
    width: 50%;
    margin: auto auto 10px;
}

.btn-list {
    margin-top: 10px;
}

.form-control {
    width: 50%;
    margin: 10px auto 10px auto;
    text-align: center;
}

.panel-default .panel-heading {
    text-align: center;
}

.label-center {
    display: block;
    width: 50%;
    margin: auto auto 10px;
}

.list-group-item {
    text-align: center;
}

#option-one{
	background-color:#479DD6; 
	
}
#option-two{
	background-color:#BDBD18;
	color:white;
}


#option-three{
	background-color:#55E937;
	
}

#option-list{
	position:absolute;
	top:30%;
	left:20%;
}
